# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints

# IDE - PyCharm / IntelliJ IDEA
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
